<div class="row" ng-controller='CatalogCtrl'>
  <div class="col-sm-6 col-md-4" ng-repeat=" item in product">
    <div class="thumbnail">
      <img ng-src="/components/catalog/img/{{item.img}}" alt="...">
      <div class="caption">
        <h3>{{item.name}}</h3>
        <p>Precio: {{item.price}}$</p>
        <p>{{item.description}}</p>
        <p><a href="" class="btn btn-primary" role="button" ng-click="addToCart(item)">Agregar al Carro</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog" aria-labelledby="addToCartModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addToCartModalLabel">Added to Cart</h4>
      </div>
      <div class="modal-body">
        <p class="content"></p>
          <br><p>Add more or checkout to get a quotation!</p>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>