<div class="jumbotron" style="margin:6em; background:white">
  <h3>Carro de Compra</h3><br>
    <table class="table table-striped">
        <tr class="info">
            <td class="" ></td>
            <td class="" >Nombre</td>
            <td class="" >Precio</td>
            <td class="" >Cantidad</td>
            <td class="" >Total</td>
        </tr>
        <tr ng-repeat="item in product">
            <td class="" ><img ng-src="/components/catalog/img/{{item.img}}" alt="..."  height="70" ></td>
            <td class="" >{{item.name}}</td>
            <td class="" >{{item.price}} $</td>
            <td class="" >Cantidad</td>
            <td class="" >Total</td>
        </tr>
    </table> 
     <a class="btn btn-primary" href="#" role="button" style="float:right; clear:both;">Pedir Oferta</a>
</div>

