<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
          
        <!-- Navbar Header -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html#/">Victoria</a>
        </div>
          
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html#/">Inicio</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Catalogos<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="index.html#/catalog/all">General</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Ropa</li>
                <li class="divider"></li>  
                <li><a href="index.html#/catalog/panty/">Panty</a></li>
                <li><a href="index.html#/catalog/brasier/">Brasier</a></li>
                <li><a href="index.html#/catalog/legging/">Leggings</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Belleza</li>
                <li class="divider"></li>  
                <li><a href="index.html#/catalog/cream/">Crema</a></li>
                <li><a href="index.html#/catalog/butter/">Mantequillas</a></li>
                <li><a href="index.html#/catalog/fragance/">Fragancias</a></li>
              </ul>
            </li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right" style="margin-right:1em;">
                  <li><a href="#/cart/"><span class="glyphicon glyphicon-shopping-cart" style="color:white;"></span><span class="badge">Cart</span></a></li>
                </ul>  
            </div>
              
        </div>
          
          
      </div>
    </nav>
      
  </div>
</div>